[submodule "lua/hookspace/luamisc"]
	path = lua/hookspace/luamisc
	url = https://github.com/midrare/luamisc.git
	pushurl = git@github.com:midrare/luamisc.git
[submodule "lua/microkasten/luamisc"]
	path = lua/microkasten/luamisc
	url = https://github.com/midrare/luamisc.git
	pushurl = git@github.com:midrare/luamisc.git
